@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Raleway:300,700');
body{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #fffff;
  display: block;
  margin: 0 auto;
}
@import url(https://fonts.googleapis.com/css?family=Sacramento);
h1{
	font-family: 'Sacramento', cursive;
	font-size: 80px;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 0;
	padding-top: 80px;
	}

nav {
	text-transform: uppercase;
	background: grey;
 	height: 100px;
 	display: inline-table;
 	padding: 5px 15px 5px 15px;
 	position: absolute;
    top: 0px;
    left: 0px;
}

ul {
  list-style: none;
  display: block;
  float: left;
}

li {
  display: block;
  color: #black;
p{
	margin-top: 0
	color: #f2f2f2;
	}
h2 {
	font-size: 200px;
	line-height: 1.5em;
	font-style: italic;
	text-transform: uppercase;
	text-decoration: underline;
	color: #E92681;
	}

.footer {
  font-family: 'Bree Serif', serif;
  font-size: 21px;
  line-height: 1em;
  text-transform: uppercase;
  padding: 25px;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
  padding-left:0;
  color: #FF4100;
}
li {
  display: inline;
  color: black;
}
.services {
  margin-bottom: 25px;
  max-width: 200px;
  border: 2px solid #A36200;


